<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      .btn {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
      }

      /* Darker background on mouse-over */
      .btn:hover {
        background-color: RoyalBlue;
      }
    </style>
    <meta charset="UTF-8" />
    <title>Converted Image to PDF</title>
  </head>
  <body bgcolor="#dbefe9">
    <form action="/download_qr" method="get">
      <p>Successfully converted</p>
      <p>Download your file from here!</p>
      <button class="btn">
        <i class="fa fa-download"></i>
        Download
      </button>
    </form>
  </body>
</html>
