{% if session['level']=='Admin' : %} {% extends 'admin/Dashboard.html' %} {%
block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-primary text-uppercase mb-1"
              >
                Jumlah Barang
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{barang}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-cubes fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-success text-uppercase mb-1"
              >
                Terima Barang
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{penerimaan}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-check fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-info text-uppercase mb-1"
              >
                Laba
              </div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  {% if laba %}
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                    {{ laba | currencyFormat}}
                  </div>
                  {%endif%}
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      style="width: 50%;"
                      aria-valuenow="50"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div
                class="text-xs font-weight-bold text-warning text-uppercase mb-1"
              >
                Barang Terjual
              </div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{barangterjual}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-outdent fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
</div>
<!-- /.container-fluid -->

{% endblock content %} {% elif session['level']=='Petugas' :%} {% extends
'admin/Dashboard_2.html' %} {% block content2 %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-sm-6 mb-4 mb-xl-0">
      <div class="d-lg-flex align-items-center"></div>
    </div>
    <div class="col-sm-6">
      <div class="d-flex align-items-center justify-content-md-end"></div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-2 grid-margin stretch-card">
      <div class="card">
        <div class="card-body pb-0">
          <div class="d-flex align-items-center justify-content-between">
            <h2 class="text-success font-weight-bold">{{barang}}</h2>
            <i class="mdi mdi-cube-outline mdi-18px text-dark"></i>
          </div>
        </div>
        <div class="line-chart-row-title">Jumlah Barang</div>
      </div>
    </div>
    <div class="col-lg-2 grid-margin stretch-card">
      <div class="card">
        <div class="card-body pb-0">
          <div class="d-flex align-items-center justify-content-between">
            <h2 class="text-success font-weight-bold">{{penerimaan}}</h2>
            <i class="mdi mdi-clipboard-account-outline mdi-18px text-dark"></i>
          </div>
        </div>
        <div class="line-chart-row-title">Barang Diterima</div>
      </div>
    </div>
    <div class="col-lg-3 grid-margin stretch-card">
      <div class="card">
        <div class="card-body pb-0">
          <div class="d-flex align-items-center justify-content-between">
            <h2 class="text-success font-weight-bold">
              {% if laba %} {{laba | currencyFormat}} {%endif%}
            </h2>
            <i class="mdi mdi-numeric-5-box-outline mdi-18px text-dark"></i>
          </div>
        </div>
        <div class="line-chart-row-title">Laba</div>
      </div>
    </div>
    <div class="col-lg-2 grid-margin stretch-card">
      <div class="card">
        <div class="card-body pb-0">
          <div class="d-flex align-items-center justify-content-between">
            <h2 class="text-success font-weight-bold">{{barangterjual}}</h2>
            <i class="mdi mdi-account-outline mdi-18px text-dark"></i>
          </div>
        </div>
        <div class="line-chart-row-title">Barang Terjual</div>
      </div>
    </div>
    <div class="col-lg-3 mb-3 mb-lg-0">
      <div class="card congratulation-bg text-center">
        <div class="card-body pb-0">
          <h2 class="mt-3 text-white mb-3 font-weight-bold">
            Welcome {{ session.name }}
          </h2>
          <p>
            Semoga Harimu Baik
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- content-wrapper ends -->
{% endblock content2 %} {% endif %}
